* {
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	border-color: #d2d6db;
	border-style: solid;
	border-width: 0;
}

html {
	font-family: "Helvetica Neue","Trebuchet MS",Helvetica,Arial,sans-serif;
}

body {
	color: #5a5a5a;
	font-size: 10pt;
	margin: 15px 15px 0;
}

a {
	color: #1C93DE;
	text-decoration: none;
}

fieldset {
	border-width: 1px;
	background-color: #fcfbfa;
	margin-bottom: 8px;
	padding: 4px 8px 8px 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
fieldset fieldset {
	background-color: #fff;
}
fieldset>legend {
	color: #2591d4;
	font-size: 12pt;
	padding: 0 4px;
}
fieldset>legend .icon {
	margin-right: 4px;
}

form {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

input,
select,
textarea {
	color: #5a5a5a;
	border: solid 1px #d4d3d1;
	background-color: #ffffff;
	padding: 1px 2px;
}
textarea {
	font-size: 10pt;
}
input[type='checkbox'],
input[type='radio'] {
	border: 0;
	background-color: transparent;
	margin: 3px;
}

#cranium {
	background-color: #383838;
	border-radius: 3px;
	color: #d0d0d0;
	display: none;
	padding: 2px 4px;
	position: absolute;
}

h1,
h2,
h3,
h4 {
	color: #2591d4;
	margin: 0;
}

ul {
	list-style-position: inside;
}

table {
	border-collapse: collapse;
}
th,
td {
	padding: 3px 8px;
	text-align: left;
}


.header {
	height: 35px;
	margin-bottom: 10px;
}
.header .logo {

}
.header .titles {
	font-size: 9pt;
}
.header .titles > * {
	display: inline;
	margin-right: 20px;
}

.header .userPanel {
	float: right;
}

.footer {
	clear: both;
	font-size: 9px;
	margin: 20px 0 10px;
	text-align: center;
}


.menu {
	clear: left;
	float: left;
	font-size: 120%;
	line-height: 1.2;
	margin-right: 10px;
}
.menu a {
	font-weight: normal;
}
.menu ul {
	margin-bottom: 10px;
	list-style-type: none;
}
.menu ul ul {
	margin-left: 3px;
	font-size: 80%;
}


.pageContent {
	overflow: auto;
}

fieldset.parent > fieldset.child {
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
}


.buttonSet {
	display: block;
	list-style: none;
	margin-top: 5px;
	margin-bottom: 5px;
}
fieldset .buttonSet {
	clear: left;
}

.buttonSet li {
	display: inline-block;
	margin-right: 7px;
}

.button {
	color: #373737;
	display: inline-block;
	background-color: #d2ccc1;
	/*border: solid 2px black;
	border-color: #ddd9d1 #bbb6ac #bbb6ac #ddd9d1;*/
	/*border-radius: 5px 5px 5px 5px;
	box-shadow: 0 2px 2px #AAAAAA;*/
	padding: 3px 10px 6px;
}

.button>.icon,
.tabs .tabIndex .icon,
fieldset legend .icon {
	margin-right: 5px;
	position: relative;
	top: 3px;
}

.button>.icon.running {
	display: none;
}
.button.ajaxEvent>.icon {
	display: none;
}
.button.ajaxEvent>.icon.running {
	display: inline;
}


.row.odd {
	background-color: #f5f4f2;
}
.row.even {
	background-color: #fcfbfa;
}