#player {
	height: 55px;
}

header #player {
	margin: 0 200px 0 170px;
}

#player .scrubber {
	display: block;
	margin: 1px 0 4px 2px;
	/*height: 12px;*/
}

#player .scrubber .scrubArea {
	background-color: #003b62;
	/*background-image: url('../img/Cordless_ScrubArea.png');*/
	border: solid 1px #232526;
	/*border-radius: 5px;*/
	overflow: hidden;
}

#player .scrubber .progress {
	background-color: #1b87cb;
	/*background-image: url('../img/Cordless_Scrubber.png');*/
	background-position: 100% 0;
	/*border-radius: 5px;*/
	height: 2px;
	width: 0%;

	-o-transition: all ease .15s;
	-moz-transition: all ease .15s;
	-webkit-transition: all .15s;
}

header:hover #player .scrubber .progress {
	height: 9px;
}


#player .time {
	float: right;
}

#player .control.playback {
	height: 21px;
	margin: 0 3px;
}

#player .control.playback .play_pause,
#player .control.playback .next,
#player .control.playback .prev {
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 15px;
	overflow: hidden;
	text-indent: 50px;
	width: 15px;

	-o-transition: background-position ease .5s;
	-moz-transition: background-position ease .5s;
	-webkit-transition: background-position ease .5s;
}

#player .control.playback .play_pause {
	background-image: url('../img/Cordless_PlayPause.png');
	margin-right: 5px;
}

#player.isPlaying .control.playback .play_pause {
	background-position: 0 100%;
}

#player .control.playback .next,
#player .control.playback .prev {
}

#player .control.playback .next {
	background-image: url('../img/Cordless_Next.png');
}
#player .control.playback .prev {
	background-image: url('../img/Cordless_Prev.png');
}


#player .trackinfo {
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	overflow: hidden;
}

#player .trackinfo .title {
	cursor: pointer;
}


#player .trackinfo>.item {
	float: left;
}

#player .trackinfo .state {
	background: transparent url('../img/Cordless_Idle.gif') center center no-repeat;
	display: block;
	height: 16px;
	margin: 0 5px 0 0;
	opacity: .3;
	width: 16px;
}

#player.isReady.isPlaying>.trackinfo .state {
	background-image: url('../img/Cordless_Playing.gif');
}

#player.isBusy>.trackinfo .state {
	background-image: url('../img/Cordless_Busy.gif');
}


#player .userTrack {
	float: left;
	height: 16px;
	margin-right: 5px;
	position: relative;
	width: 16px;
}

#player .userTrack .image {
	border-radius: 3px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	width: 16px;

	-o-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-webkit-transition: all linear .3s;
}
#player:hover .userTrack .image {
	opacity: 0;
}

#player .userTrack img {
	height: 100%;
	width: 100%;
}

#player .userTrack .control.playqueue,
#player .userTrack .meta {
	display: none;
}

#player .userTrack .control.track {
	opacity: 0;
	position: absolute;

	-o-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-webkit-transition: all linear .3s;
}

#player:hover .userTrack .control.track {
	opacity: 1;
}

#player .userTrack .control.track .starToggle {
	display: block;
	margin: 2px;
}
