.content {
	color: #fff;
	margin: 60px;
}

.content section {
	clear: both;
	margin: 0 2em 2em 0;
	overflow: hidden;
}

.content h1 {
	color: #fff;
	font-size: 20pt;
}

.content h2 {
	color: #bababa;
	font-size: 15pt;
}

.content p {
	line-height: 1.5;
	text-align: justify;
}

.content .logo {
	margin-bottom: 2em;
}

.content table {
	margin: .4em 0;
	width: 500px;
}

.content table td {
	padding: 0.25em 0;
}

.content table label {

}

.content table input {

}


.track img {
	float: left;
	margin: 0 1em 1em 0;
}


.content .login input {
	font-size: 1em;
}