<?
define('URL_CORDLESS', 'http://dev.cordless.se/');
define('URL_API', '/api/');
define('URL_MEDIA', '/');

define('LAST_FM_API_KEY', 'b934445a490b43b42fd02d2ae9407595');
define('LAST_FM_API_SECRET', 'aff70a07faee4e8590157256a9146b74');